.input {
  padding: 7px 12px;

  color: var(--black);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline-color: var(--primary);
}

.input::placeholder {
  color: var(--grey);
}

.inputWrapper {
  position: relative;
}

.error {
  border: 1px solid var(--red);
}

.errorMessage {
  position: absolute;
  top: 30px;
  left: 0;
  color: var(--red);
}