.input {
  padding: 7px 12px;

  color: var(--black);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline-color: var(--primary);
}

.input::placeholder {
  color: var(--grey);
}