.filled svg {
  fill: var(--primary);
}
.error {
  border: 1px solid var(--red);
}
.star svg {
  margin-right: 5px;
}
.editable {
  cursor: pointer;
}
.wrapper {
  position: relative;
}
.errorMessage {
  position: absolute;
  top: 20px;
  left: 0;
  color: var(--red);
}