.product {
  display: grid;
  grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] auto [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];
  margin-bottom: 40px;
  padding: 30px;
}
.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
  margin-bottom: 18px;
}
.logo img {
  border-radius: 5px;
}
.title,
.tags {
  grid-column: titlestart / middle;
}
.title {
  margin-bottom: 10px;
  align-self: flex-end;
}
.price,
.priceTitle {
  grid-column: pricestart / priceend;
  white-space: nowrap;
}
.oldPrice {
  margin-left: 10px;
}
.price,
.credit {
  align-self: flex-end;
  font-size: 20px;
  line-height: 27px;
}
.credit,
.creditTitle {
  grid-column: creditstart / creditend;
  white-space: nowrap;
}
.month {
  font-size: 14px;
  line-height: 19px;  
}
.rating {
  align-self: flex-end;
}
.rating,
.ratingTitle {
  grid-column: ratingstart / end;
  white-space: nowrap;
}
.priceTitle,
.creditTitle,
.ratingTitle {
  
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}
.hr,
.description,
.actions {
  grid-column: start / end;
}
.features {
  grid-column: start / middle;
}
.description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
}
.advBlock {
  grid-column: middle / end;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 22px;
}
.advTitle {
  margin-bottom: 5px;
  font-weight: bold;
}
.advantages {
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 3px solid var(--green);
}
.disadvantages {
  padding-left: 15px;
  border-left: 3px solid var(--red);
}
.reviewButton {
  margin-left: 20px;
}
.characteristic {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-right: 60px;
  font-size: 16px;
  line-height: 32px;
}
.characteristicName {
  margin-right: 10px;
  font-weight: bold;
}
.characteristicDots {
  border-bottom: 1px dashed var(--gray-light);
}

@media screen and (max-width: 1300px) {
  .product {
    grid-template-columns:
      70px 30px auto 40px auto 40px auto;
    grid-template-areas: 
      "logo . title title title title title"
      ". . tags tags tags tags tags"
      ". price price . credit . rating"
      ". priceTitle priceTitle . creditTitle . ratingTitle"
      "hr hr hr hr hr hr hr"
      "description description description description description description description"
      "features features features features features features features"
      "advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
      "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
      "actions actions actions actions actions actions actions"
    ;
  }
  .logo {
    grid-area: logo;
  }
  .title {
    grid-area: title;
  }
  .tags {
    grid-area: tags;
  }
  .price {
    grid-area: price;
  }
  .credit {
    grid-area: credit;
  }
  .rating {
    grid-area: rating;
  }
  .priceTitle {
    grid-area: priceTitle;
  }
  .creditTitle {
    grid-area: creditTitle;
  }
  .ratingTitle {
    grid-area: ratingTitle;
  }
  .hr {
    grid-area: hr;
  }
  .hr2 {
    grid-area: hr2;
  }
  .description {
    grid-area: description;
  }
  .features {
    grid-area: features;
  }
  .advBlock {
    grid-area: advBlock;
  }
  .actions {
    grid-area: actions;
  }
} 

@media screen and (max-width: 640px) {
  .product {
    grid-template-columns:
      70px 30px auto 40px;
    grid-template-areas:
      "logo . title title"
      ". tags tags tags"
      "priceTitle . price price"
      "creditTitle . credit credit"
      "ratingTitle . rating rating"
      "hr hr hr hr"
      "description description description description"
      "features features features features"
      "advBlock advBlock advBlock advBlock"
      "hr2 hr2 hr2 hr2"
      "actions actions actions actions"
    ;
  }
  .priceTitle,.creditTitle,.ratingTitle {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "title"
      "tags"
      "price"
      "priceTitle"
      "credit"
      "creditTitle"
      "rating"
      "ratingTitle"
      "hr"
      "description"
      "features"
      "advBlock"
      "hr2"
      "actions"
    ;
    padding: 10px;
  }
  .tags {
    margin-bottom: 20px;
  }
  .reviewButton {
    margin-left: 5px;
  }
}